[submodule "InternVideo1/Pretrain/UniFormerV2"]
	path = InternVideo1/Pretrain/UniFormerV2
	url = https://github.com/OpenGVLab/UniFormerV2.git
[submodule "InternVideo1/Downstream/Ego-Tasks"]
	path = InternVideo1/Downstream/Ego-Tasks
	url = https://github.com/OpenGVLab/ego4d-eccv2022-solutions.git
